.customButton{
    background-color: var(--main-color);
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    color: var(--font-main-color);
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s opacity ease;

    &:hover{
        opacity: 0.7;
    }
}