:root {
  --main-color: #007BFF;
  --secondary-color: #FF6347;
  --extra-color-green: #32CD32;
  --extra-color-yellow: #FFD700;
  --background-color: #F5F5F5;
  --gray: #c4c4c4;

  --font-main-color: #F5F5F5;

  --box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);
}